/SCC/inputs/input.txt
/clustering/inputs/clustering.txt
/clustering/inputs/clustering_big.txt
/weight_sum_completion_times/weight_sum_completion_times/inputs/edges.txt
/weight_sum_completion_times/weight_sum_completion_times/inputs/jobs.txt
/.vs/Algorithms/v14/*.suo
/.vs/BinarySearch/v14/*.suo
*.suo
*.exe
Debug
*.config
*.pdb
Release

inputs
__pycache__
/2-sat/pycallgraph.png
/2-sat/recycle_bin
/travelling-salesman-problem/output.png
